{% extends 'app/base.html' %}
{% load staticfiles %}


{% block main %}

    <div class="table-detail">
        <div class="row">
            <div class="col-xs-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">服务器信息</div>
                    <div class="panel-body">

                        <div class="space visible-xs"></div>
                        <div class="profile-user-info profile-user-info-striped">
                            <div class="profile-info-row">
                                <div class="profile-info-name"> IP地址</div>
                                <div class="profile-info-value">
                                    <span>{{ post.ip }}</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> 主机名</div>
                                <div class="profile-info-value">
                                    <span>{{ post.host_name }}</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> 用途</div>
                                <div class="profile-info-value">
                                    <span>{{ post.host_purpose }}</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> 分类</div>
                                <div class="profile-info-value">
                                    <span>{{ post.Host_category }}</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> 状态</div>
                                <div class="profile-info-value">
                                    <span>{{ post.host_status }}</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> 所属组</div>
                                <div class="profile-info-value">
                                    <span class="label label-sm label-warning">{{ post.Host_group }}</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> 操作系统</div>
                                <div class="profile-info-value">
                                    <span class="label label-sm label-warning">{{ post.Host_operatingsystem }}</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> admin账号</div>
                                <div class="profile-info-value">
                                    <span>{{ post.admin_Account }}</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> admin密码</div>
                                <div class="profile-info-value">
                                    <span>{{ post.admin_password }}</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> 创建时间</div>
                                <div class="profile-info-value">
                                    <span>{{ post.created_time }}</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> 最后修改时间</div>
                                <div class="profile-info-value">
                                    <span>{{ post.modified_time|timesince }} 前</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-white btn-info btn-bold">
                    <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
                    <a href="{% url 'app:host_edit' pk=post.pk %}">编辑</a>
                </button>
            </div>
            <div class="col-xs-8">
                <div class="panel panel-warning">
                    <div class="panel-heading">备注信息</div>
                    <div class="panel-body">
                        {{ post.Host_body|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock main %}