{% extends 'app/base.html' %}
{% load staticfiles %}
{% load host_tags %}

{% block main %}
     <div class="table-detail">
        <div class="row">
            <div class="col-md-3">
                  {% get_group as group_list %}
{#                主机属组标签#}
                <ul class="list-group panel-body">
                    {% for Group in group_list %}
                        <li class="list-group-item">
                        <span class="badge">{{ Group.num_posts}}</span>
                            <a href="{% url 'app:host_group' Group.pk %}">{{ Group.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-3">
                {% get_status as status_list %}
                {#                 主机 状态 在用/停用 标签#}
                <ul class="list-group panel-body">
                    {% for Status in status_list %}
                        <li class="list-group-item">
                            <span class="badge">{{ Status.num_posts }}</span>
                            <a href="{% url 'app:host_status' Status.pk %}">{{ Status.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        <div class="col-md-3">
                               {% get_categorys as categorys_list %}
{#                 主机 状态 在用/停用 标签#}
                <ul class="list-group panel-body">
                    {% for Categorys in categorys_list %}
                        <li class="list-group-item">
                        <span class="badge">{{ Categorys.num_posts}}</span>
                            <a href="{% url 'app:host_category' Categorys.pk %}">{{ Categorys.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock main %}